/*
Colors Used
Teal: #05716c;
SkyBlue: #1fbfb8;
Blue: #1978a5;
NavyBlue: #031163;
LadyGrey: 	#696969;
LightGrey: #D3D3D3;
White: #CCC;
Red: #FF0000;
*/

.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

::placeholder {
  color: #696969;
}

input[type="text"], input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #05716c;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.chart-label {
  background-color: #CCC;
  padding: 0.5rem;
  color: #1978a5;
  border-radius: 4px;
  font-size: 30px;
}

.city {
  width: 250px;
  text-align: left;
}

.CitySearch {
  display: flex;
  flex-direction: column;
}

.suggestions {
  width: 250px;
  align-self: center;
  margin: 0;
  font-size: 14px;
}

.suggestions > li {
  color: #CCC;
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #05716c;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


.suggestions > li:hover {
  color: #000;
  background-color: #1fbfb8;;
}

.Event {
  min-height: 10rem;
  padding: 0.5rem 0.5rem 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  background-color: #D3D3D3;
}

.details-btn {
  font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont;
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  border: solid 1px #1978a5;
  outline: none;
  cursor: pointer;
  width: 5rem;
  min-height: 3rem;
  background-color: #1978a5;
  color: #CCC;
}

.details-btn:hover {
  background-color: #1fbfb8;
  color: #000;
  border: solid 1px #1fbfb8;
  text-decoration: underline;
}

.name {
  font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont;
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going, .visibility {
  font-style: italic;
  color: #FF0000;
}

.description {
  overflow-x: hidden;
}

.number-of-events__input {
  width: 80px;
  margin: 20px 0 50px;
  padding: 0;
  text-align: left;
}

.NumberOfEvents {
  margin: 1.5rem;
  margin-bottom: 2rem;
}

.recharts-surface {
  margin-top: 1rem;
}

.search-label {
  color: #CCC;
  font-size: 25px;
}

.number-label {
  color: #CCC;
  font-size: 18px;
}

.EventList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1rem;
}

.Alert {
  min-height: 40px;
  margin: 5px;
}

.alert-container {
  margin: auto;
  width: 50%;
}

.chart-container {
  margin-left: -1.9rem;
}

@media only screen and (max-width: 750px) {
  .EventList {
    display: grid;
    grid-template-columns: 1fr;
  }
}